BasedOnStyle: LLVM

IndentWidth: 4
IndentCaseLabels: true
TabWidth: 4
UseTab: Never

ColumnLimit: 80

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  AfterControlStatement: false
  BeforeElse: false

NamespaceIndentation: None

SpaceBeforeParens: ControlStatements
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false